*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: rgb(255, 255, 255);
    align-items: center;
    padding: 15px 40px;
    height: auto;
    /* offsetX offsetY blur-radius spread-radius color; */
    box-shadow: 0px 4px 6px -2px rgba(0, 0, 0, 0.2);
}

.tag-profile {
    display: flex;
    flex-direction: column;
}

header h1 {     
    font-size: 36px;
    font-weight: bold;
    font-family: Arial, sans-serif;
}

header h3{
    font-size: 18px;
    color: black;
    font-weight: normal;
    font-family: Arial, sans-serif;
    margin-top: 5px;
}

.icon {
    width: 60px;
    height: 60px;
}

.main{
    display: flex;
    margin: 40px;
}

.profile {
    display: grid;
    height: 400px;
    width: 400px;
}

.introduce{
    margin-left: 55px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.introduce p{
    font-size:25px;
    margin-top: 20px;
    margin-right: 25px;
}

.button{
    background-color: #00C774;
    color: white;
    margin-top: 20px;
    width: 150px;
    height: 60px;
    border: none;
    border-radius: 5px;
    font: italic 20px arial;
}

.route{
    display: flex;
    height: 110px !important;
    width: 100%;
    height: auto;
    background-color: rgb(55, 55, 61);
    align-items: center;
    justify-content: center;
}

.route nav{
    justify-content: center;
    align-items: center !important;
}

.route ul{
    list-style: none;
    display: flex;
    justify-content: center !important;
    gap: 5pc;
}

.route ul li{
    display: flex;
    font-size: 20px;
    justify-content: center;
    align-items: center !important;
}

.route ul li a{
    text-decoration:underline;
    color: white;
    font-size: 30px;
}

.route ul li a:hover{
    color: rgb(0, 197, 0);
}

.main_course{
    display: flex;
}

.icon{
    width: 50px;
    height: 50px;
    background-color: transparent;
}

.main_course{
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 5pc;
}

.main_course_1{

}

.main_course_2{

}

.main_course_3{

}
