* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

hr{
    width: 100%;
    border:1px solid #E0E0E0;
}

#judul h1 {
    color: white;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    text-align: center;
    font-size: 3em;
    padding: 15px;
    background: #1A1A1A;
    /* box-shadow: offsetX offsetY blurRadius spreadRadius color; rgba(0, 0, 0, 0.2) → Warna hitam dengan transparansi 20%*/
    box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.1);
    /* text-shadow: offsetX offsetY blurRadius color; rgba(0, 0, 0, 0.3) → Warna hitam dengan transparansi 30% */
    text-shadow: none;
}

#navbar {
    background-color: #232323;
    padding: 10px;
}

#navbar ul{
    display: flex;
    justify-content: center;
    gap: 6pc;
}

#navbar ul li {
    list-style: none;
}

#navbar ul li a{
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    text-decoration: none;
    color: #FFFFFF;
}

#context {
    position: relative;
    display: flex;
    justify-content: flex-start;
    padding: 10px 0 5px 0;
    background: #F5F5F5;
}

#isi{
    color: #333333;
    padding: 45px 10px 0 10px;
}

#photo img{ 
    width: 200px;
    height: 300px;
    margin-left: 10px;
}

#container{
    position: absolute;
    width: 100%;
    text-align: center;
}

#container p{
    color: #333333;
    margin-bottom: 10px;
}

#bawah{
    background-color: #1A1A1A !important;
    padding-top : 40px;
    padding-bottom: 25px;
}

#icon {
    justify-content: center;
    gap: 10px;
    display: flex;
}

#icon i{
    gap: 20px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 45px;
    border: none;
    border-radius: 50%;
    background-color: #333333;
    color: #FFFFFF;
    font-size: 24px;
}

#nav-footer{
    padding-top: 20px;
}

#nav-footer ul{
    list-style: none;
    display: flex;
    gap: 20px;
    justify-content: center;
}

#nav-footer ul li{
    list-style: none;
}

#nav-footer ul li a{
    text-decoration: none;
    font-family: "Quicksand", sans-serif;
    font-weight: 500;
    color: #CCCCCC;
}

#license{
    justify-content: center;
    display: flex;
    align-items: center;
    color: #999999;
    background-color: #111111;
    width: 100%;
    height: 50px;
}
